### Composer ###
/vendor/
# composer.lock

### Generic ###
/build/

### PHPCodeSniffer ###
/.phpcs.cache
/.phpcs.xml
/phpcs.xml

### phpDoc ###
/phpdoc.xml

### PHPStan ###
/phpstan.neon

### PHPUnit ###
/phpunit.xml

### Psalm ###
/psalm.xml
