<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
    <!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage -->

    <arg name="extensions" value="php"/>
    <arg name="tab-width" value="4"/>
    <arg name="basepath" value="."/>
    <arg name="parallel" value="80"/>
    <arg name="report" value="full"/>
    <arg name="cache" value=".phpcs.cache"/>

    <arg value="s"/>

    <file>rector.php</file>
    <!-- <file>bin</file> -->
    <!-- <file>public</file> -->
    <file>src</file>
    <!-- <file>tests</file> -->

    <config name="ignore_warnings_on_exit" value="1"/>
    <config name="ParanoiaMode" value="1"/>

    <!-- PHPCompatibility config -->
    <!-- <config name="testVersion" value="7.4"/> -->

    <rule ref="Fox91CodingStandard"/>
</ruleset>
